.main-content {
    margin-top: 30px;
}

h4, h3 {
    margin-top: 50px;
}


body {
    background-image: url(images/backgrounds/b_y_grad.png);
    background-position: top;
    background-attachment: fixed;
   /* background-repeat: no-repeat;*/
    background-size: cover;
    color: black;
    margin: 10px;
}

a {
    color: mediumblue;
}

.lower-block {
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
}