{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="shortcut icon" href="{% static 'blog/images/siteicon/SiteIcon.png' %}"/>
    <title>{% block title %} {% endblock %} &ndash; Top news</title>

    <link href="{% static 'blog/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <link href="{% static 'blog/style.css' %}" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#main-navbar" aria-expanded="false">
                        <span class="sr-only">Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">На головну!</a>
                </div>

                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'home' %}">Головна</a></li>
                        <li><a href="{% url 'about' %}">Про нас</a></li>
                        <li><a href="{% url 'hot' %}">Гаряче</a></li>
                        <li><a href="{% url 'contacts' %}">Контакти</a></li>
                        <li><a href="{% url 'лаб_3' %}">Лаб №3</a></li>
                        <li><a href="{% url 'lab_4' %}">Лаб №4</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </div>
</div>

<div class="container main-content">
    <div class="page-header">
        <h1>
            {% block header %}
            {% endblock %}
        </h1>
    </div>
    {% block content %}
    {% endblock %}
    <hr>
    <div class="row lower-block">
        <div class="col-sm-2"></div>
        <div class="col-sm-3"><a href="https://vk.com/club101565126">Группа ВКонткте #1</a></div>
        <div class="col-sm-2"> |</div>
        <div class="col-sm-3"><a href="https://vk.com/sapr_222131">Группа ВКонткте #2</a></div>
        <div class="col-sm-2"></div>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<script src="{% static 'blog/bootstrap/js/bootstrap.js' %}"></script>

{% block scripts %}
{% endblock %}

</body>
</html>
